<%- include('../partials/header'); -%>

<h1>SHOW BLOG</h1>

<div class="container" style="display: flex; justify-content: center; align-items: center;">

    <div class="card" style="width: 700px;">
        <img src="<%= blog.image %>" class="card-img" alt="Image here"
            style=" max-width:700px ; max-height: 500px; object-fit: cover;">
        <div class="card-body">
            <h3 class="card-title"><%= blog.title %></h3>
            <p class="card-text"><%= blog.body %></p>
            <p class="card-text"><em>Submitted By <strong><%= blog.author.username %></strong></em></p>
            <span class="card-text"><small class="text-muted">Last updated
                    <%= blog.created.toDateString() %></small></span>
            <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-outline-primary" href="/blogs/<%= blog._id%>/edit">Edit Blog</a>
            <% } %>
        </div>


        <div class="card card-body bg-light">
            <div class="text-right">
                <a class="btn btn-success" href="/blogs/<%= blog._id%>/comments/new">Add New comment</a>
            </div>
            <br>
            <%  blog.comments.forEach(function(comment){ %>
            <p class=""><strong><%= comment.author.username  %></strong> - <%= comment.text %> Lorem ipsum, dolor sit
                amet consectetur adipisicing elit!</p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <form action="/blogs/<%= blog._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
                <a class="btn btn-sm btn-warning" href="/blogs/<%= blog._id%>/comments/<%= comment._id%>/edit">Edit</a>
            </form>
            <% } %>
            <br>
            <% }) %>
        </div>
        <br>
        <form action="/blogs/<%= blog._id%>?_method=DELETE" method="POST"
            style="display: flex; justify-content: space-around;">
            <a class="btn btn-outline-primary" href="/blogs" role="button">Go Back</a>
            <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
            <button class="btn btn-danger">Delete Blog</button>
            <% } %>
        </form>
        <br>
    </div>
</div>
<%- include('../partials/footer'); -%>