<%- include('../partials/header'); -%>

<h1>SHOW BLOG</h1>

<div class="container" style="display: flex; justify-content: center; align-items: center;">

    <div class="card" style="width: 700px;">
        <!-- <div class="card-body">
        </div> -->
        <img src="<%= blog.image %>" class="card-img" alt="Image here"
            style=" max-width:700px ; max-height: 500px; object-fit: cover;">
        <div class="card-body">
            <h3 class="card-title"><%= blog.title %></h3>
            <p class="card-text"><%= blog.body %></p>
            <p class="card-text"><small class="text-muted">Last updated <%= blog.created.toDateString() %></small></p>
        </div>
        <div class="card card-body bg-light">
            <div class="text-right">
                <a class="btn btn-success" href="/blogs/<%= blog._id%>/comments/new">Add New comment</a>
            </div>
            <br>
            <%  blog.comments.forEach(function(comment){ %>
            <p class=""><strong><%= comment.author  %></strong> - <%= comment.text %> Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Libero nostrum quis ullam facere deserunt. Incidunt excepturi eum amet
                eaque sint magni vel, laboriosam, dicta quidem ducimus voluptatum mollitia. Quod, quaerat!</p>
            <% }) %>
        </div>
        <br>
        <form action="/blogs/<%= blog._id%>?_method=DELETE" method="POST"
            style="display: flex; justify-content: space-around;">
            <a class="btn btn-success" href="/blogs/<%= blog._id%>/edit" role="button">Edit Blog</a>
            <a class="btn btn-outline-primary" href="/blogs" role="button">Go Back</a>
            <button class="btn btn-danger">Delete Blog</button>
        </form>
    </div>
</div>
<%- include('../partials/footer'); -%>