<%- include('../partials/header'); -%>

<h1>SHOW BLOG</h1>

<div class="container">
    <div class="card card-width">
        <img src="<%= blog.image %>" class="card-img-top" alt="Image here">
        <div class="card-body">
            <h3 class="card-title"><%= blog.title %></h3>
            <p class="card-text"><%= blog.body %></p>
            <p class="card-text"><em>Submitted By <strong><%= blog.author.username %></strong></em></p>
            <span class="card-text"><small class="text-muted">Last updated
                    <%= blog.created.toDateString() %></small></span>
            <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-outline-primary edit" href="/blogs/<%= blog._id%>/edit">Edit Blog</a>
            <% } %>
        </div>


        <div class="card card-body bg-light">
            <div class="text-right">
                <a class="btn btn-success" href="/blogs/<%= blog._id%>/comments/new">Add New comment</a>
            </div>
            <hr>
            <%  blog.comments.forEach(function(comment){ %>
            <form action="/blogs/<%= blog._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                <p class="comment"><strong><%= comment.author.username  %></strong> - <%= comment.text %>
                </p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

                <button class="btn btn-danger btn-sm edit">Delete</button>
                <a class="btn btn-sm btn-warning edit" href="/blogs/<%= blog._id%>/comments/<%= comment._id%>/edit">Edit
                </a>
                <% } %>
            </form>
            <br>
            <% }) %>
        </div>
        <br>
        <form class="delete position" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
            <a class="btn btn-outline-primary" href="/blogs" role="button">Go Back</a>
            <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
            <button class="btn btn-dark">Delete Blog</button>
            <% } %>
        </form>
        <br>
    </div>
</div>

<%- include('../partials/footer'); -%>